BrianLiuAssignment1Console/Connected Services/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57232/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57232/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57232/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_IsPrimeNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPrimeNumber" />
  </wsdl:message>
  <wsdl:message name="IService_IsPrimeNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPrimeNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SumOfDigits_InputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigits" />
  </wsdl:message>
  <wsdl:message name="IService_SumOfDigits_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReverseOfString_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseOfString" />
  </wsdl:message>
  <wsdl:message name="IService_ReverseOfString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseOfStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WrapInHTMLTags_InputMessage">
    <wsdl:part name="parameters" element="tns:WrapInHTMLTags" />
  </wsdl:message>
  <wsdl:message name="IService_WrapInHTMLTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:WrapInHTMLTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SortNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:SortNumbers" />
  </wsdl:message>
  <wsdl:message name="IService_SortNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SortNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="IsPrimeNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsPrimeNumber" message="tns:IService_IsPrimeNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsPrimeNumberResponse" message="tns:IService_IsPrimeNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SumOfDigits" message="tns:IService_SumOfDigits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SumOfDigitsResponse" message="tns:IService_SumOfDigits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseOfString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReverseOfString" message="tns:IService_ReverseOfString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReverseOfStringResponse" message="tns:IService_ReverseOfString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WrapInHTMLTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WrapInHTMLTags" message="tns:IService_WrapInHTMLTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WrapInHTMLTagsResponse" message="tns:IService_WrapInHTMLTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SortNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SortNumbers" message="tns:IService_SortNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SortNumbersResponse" message="tns:IService_SortNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsPrimeNumber">
      <soap:operation soapAction="http://tempuri.org/IService/IsPrimeNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <soap:operation soapAction="http://tempuri.org/IService/SumOfDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseOfString">
      <soap:operation soapAction="http://tempuri.org/IService/ReverseOfString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WrapInHTMLTags">
      <soap:operation soapAction="http://tempuri.org/IService/WrapInHTMLTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SortNumbers">
      <soap:operation soapAction="http://tempuri.org/IService/SortNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:57232/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>